.header-css {
  display: flex;
  align-items: center;
  height: 207px;
  background-color: #ce2829;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  width: 100%;
}
.active-link {
  font-weight: bold;
  color: white;
}
.nav-css {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4px;
  font-size: 16px;
  position: absolute;
  top: 171.5px;
  left: 575px;
  gap: 4px;
}
.navLink-css {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
