.header-css {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 138px;
  background-color: #ce2829;
  color: white;
  font-family: "Barlow", sans-serif;
  width: 100%;
  position: relative;
  text-decoration: none;
  flex-direction: column;
}

@media (max-width: 540px) {
  .header-css {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }

  .pizza {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
