.main-css {
  width: 532px;
  height: 1340.63px;
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  font-family: "Barlow";
  font-size: 16px;
  gap: 2rem;
}
.main-baslik {
  font-size: 22px;
  font-family: "Barlow", sans-serif;
  font-weight: normal;
}
.fiyat-yorum {
  display: flex;
  justify-content: space-between;
}
.yorum {
  display: flex;
  gap: 70px;
  align-items: center;
}
.selectors {
  display: flex;
  justify-content: space-between;
  width: 427px;
}
.checkbox {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-bottom: 1rem;
}
.siparisNotu {
  margin-top: 2rem;
}
